In [1]:
import sqlite3

In [10]:
conn = sqlite3.connect("sqlite.db", timeout=10.0)
cursor = conn.cursor()

In [11]:
cursor.execute('''
        Create table IF NOT exists employees (
            ID INT PRIMARY KEY,
            Name VARCHAR(50),
            Department VARCHAR(10),
            Salary INT,
            Hire_Date)


''')

In [12]:
query = '''Create table if not exists Departments(
                           ID INT PRIMARY KEY,
                           NAME VARCVHAR(50),
                           Manager VARCHAR(50))'''

cursor.execute(query)

In [13]:
query = '''DROP TABLE if exists employee'''

cursor.execute(query)

In [14]:
ins2 = '''INSERT INTO employees(ID, Name, Department, Salary, Hire_Date)
                    VALUES (3, 'Charlie', 'Marketing', 60000, 2022-3-20)'''

cursor.execute(ins2)

OperationalError: database is locked

In [15]:
ins2 = '''INSERT INTO Departments(ID, NAME, Manager)
                    VALUES (1, 'Sales', 'Alice')'''

cursor.execute(ins2)
cursor.commit()
cursor.close()

OperationalError: database is locked